#elements {
    text-align: center;
}

#puzzle {
    color: white;
    font-size: 27px;
}

#status {
    color: rgb(81, 37, 107);
    font-size: 27px;
}

button#reset {
    color: white;
    background-color: rgb(176, 93, 214);
    font-size: 18px;
}

body {
    background-color: darkgray;
}